<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZSwazuDFYUK4iO_fjeBAEVe_0zPc_Ch4</string>
	<key>GCM_SENDER_ID</key>
	<string>922910966872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bankPick</string>
	<key>PROJECT_ID</key>
	<string>bankpick-1a20b</string>
	<key>STORAGE_BUCKET</key>
	<string>bankpick-1a20b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922910966872:ios:75d12714e7dfe8aaea762d</string>
	<key>DATABASE_URL</key>
	<string>https://bankpick-1a20b-default-rtdb.firebaseio.com</string>
</dict>
</plist>